{
  "comments": false,
  "presets": [
    [
      "@babel/preset-env",
      { "useBuiltIns": "usage", "corejs": "3.6", "targets": { "node": "8" } }
    ],
    ["@babel/preset-flow"],
    ["minify"]
  ],
  "plugins": ["add-module-exports"]
}
